<div [formGroup]="form">
    <div [class]="question.size">
        <label class="form-label" [attr.for]="question.key">{{question.label}}</label>

        <div [ngSwitch]="question.controlType">

            <!-- <input *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key" [type]="question.type"> -->

            <div class="mb-3">
                <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
                <input *ngSwitchCase="'textbox'" class="form-control" [formControlName]="question.key"
                    [id]="question.key" [placeholder]="question.placeholder" [type]="question.type">
            </div>

            <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
                <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
            </select>

        </div>

        <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
    </div>
</div>